    <aside>
        <ul>
            <li id="direccion">  
                <p><h4>DIRECCIÓN</h4>Parque central de Alóag, diagonal al GAD parroquial</p>
            </li>
            <li id="email">
                <p>
                    <h4>EMAIL</h4>
                    <a href="mailto:karina@cellshop.ec">karina@cellshop.ec</a>    
                </p>
            </li>
            <li id="telefono">
                <p><h4>TELÉFONO</h4><a href="tel:+593 99 936 0773">+593 99 936 0773</a></p>
            </li>
        </ul>
    </aside>