<section class="Descripcion">
        <img src="https://ventasmayoreo.mx/wp-content/uploads/2021/05/accesorios_para_celular.png" alt="">
        <article>
            <header>
                <h2>A cerca de Nosotros</h2>
                <h1>CellSHOP</h1>
            </header>
            <p>Somos una empresa con 20 años de trayectoria en el mercado de las comunicaciones.
                <br>¡Somo todo lo que necesites en telefonía celular! </p>
            <button type="button" class="btn btn-outline-info">MÁS INFORMACIÓN</button>
        </article>
    </section>