    <footer>
        <h4>CellSHOP #Quedate en casa</h4>  
        <p id="frase">Cualquier tecnología lo suficientemente avanzada es equivalente a la magia.</p> 
        <p id="autor">SIR ARTHUR C. CLARKE</p>
    </footer>
    
</body>
</html>