    <section class="Productos">
        <article>
            <header>
                <h2>Revisa</h2>
                <h1>NUESTROS PRODUCTOS</h1>
            </header>
            <p>A los mejores precios encontrarás: <br>El teléfono que buscas. <br>Accesorios para tu celular.  <br>¡No esperes a que se agoten! <br> Escribenos y te lo llevaremos a casa </p>   
            <button type="button" class="btn btn-outline-light">INVENTARIO</button>
        </article> 
        <section class="productos_presentacion">
            <!--Llamo al bloque de helpers-->
            {{#listProducts}}
            {{/listProducts}}
        </section>
    </section>